footer {
  margin: 1.5em 4em 0 4em;
  padding: 2em 0 1em;
  border-top: 1px solid $col-border;

  @include desktop-xl {
    margin-right: 2em;
    margin-left: 2em;
  }
  @include device-small {
    margin-right: 1em;
    margin-left: 1em;
    border-top: 0;
  }
}

.brd-btm {
  padding-bottom: 2em;
  border-bottom: 1px solid $col-border;

  @include device-small {
    padding: 0;
    border: 0;
  }
}

.footer-logo-icon {
  width: 1em;
  height: 1em;
  margin-right: .8em;
  margin-left: .48em;
  font-size: 6.25em;

  @include desktop-xl {
    display: none;
  }
}

.footer-links {
  flex: 1;
  justify-content: space-between;
  margin-bottom: 3em;

  @include device {
    flex-direction: column;
  }

  .menu-list {
    margin: 0 1.5em 0 0;
    padding-bottom: .5em;

    @include desktop-xl {
      &:last-child {
        margin-right: 1em;
      }
    }
    @include device {
      overflow: hidden;
      width: 100%;
      max-height: 3em;
      margin-bottom: .5em;
      transition: max-height $transition-time ease-in-out;
      background: $col-darker-blue;
    }

    li {
      @include device {
        margin-bottom: .5em;
        padding: .5em 1.25em .5em 2.5em;
      }
    }

    [class*="arrow"] {
      display: none;

      @include device {
        display: inline-block;
        margin-left: auto;
      }
    }

    .title {
      @include device {
        display: flex;
        align-items: center;
        height: 3em;
        padding: 0 1.25em;
        color: $col-white;
      }

      .footer-language {
        margin-left: auto;
        font-weight: normal;

        & + [class*="arrow"] {
          margin-left: 2em;
        }
      }
    }

    &.open {
      @include device {
        max-height: 30em;
      }
    }
  }
}

.language-footer-top {
  display: none;

  @include device-small {
    display: block;
  }
}

.language-footer {
  @include device-small {
    display: none;
  }
  .title {
    margin-right: 5.5em;
    margin-left: 1em;
    text-transform: uppercase;

    @include desktop-xl {
      display: none;
    }
  }

  .lang-selector {
    position: relative;
    width: 12em;
    padding: 0 1em;
    line-height: 2.6875em;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid $col-blue-gray;

    & > * {
      flex: 1;
    }

    [class*="arrow"] {
      margin-left: auto;
    }

    &.open {
      border-bottom: 0;
    }

    .dropdown {
      left: -1px;
      width: calc(100% + 2px);
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: $col-blue-gray;
      background-color: $col-body-bg;
    }

    .menu-list {
      margin: 0 1.33em 1em;

      li {
        margin-bottom: 0;
        line-height: 2;
      }
    }
  }
}

.socials-footer {
  margin-left: auto;

  @include device-small {
    flex: 1;
    justify-content: space-between;
    margin-left: 0;
  }

  & > * {
    margin: 0 1em;
  }

  .social-icon {
    font-size: 1.75em;
  }
}

.copyright {
  justify-content: center;
  width: 90%;
  max-width: 890px;
  margin: 2em auto 0;
  text-align: center;
  color: $col-light-gray;

  @include device-small {
    margin-top: 4em;
  }

  p {
    line-height: 1.7;
  }

  .link {
    margin: 1em;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}
