// Transform PX values into EM regardless if PX is included or not
@function em($pixels, $context: $font-size-base) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

// Calculate VW from standard values
@function vw($breakpoint, $size: $font-size-base) {
  @if (unitless($breakpoint)) {
    $breakpoint: $breakpoint * 1px;
  }

  @if (unitless($size)) {
    $size: $size * 1px;
  }

  @return $size * 100 / $breakpoint * 1vw;
}
