header {
  position: relative;
  z-index: $z-index-header;
  height: $header-height;
  background-color: $col-primary;
}

.header-height {
  height: $header-height;

  @include mobile {
    height: em($header-height-mobile);
  }
}

.left-side {
  width: $width-sidebar;

  @include mobile {
    width: auto;
  }
}

.header-logo-icon {
  width: $top-logo-width;
  height: $top-logo-height;
  margin: 0 2em 0 1em;

  @include device {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
}

.header-logo-text {
  width: $top-logo-text-width;
  height: $top-logo-text-height;

  @include device {
    display: none;
  }
}

.header-language {
  position: relative;
  height: 100%;
  padding: em(8px);
  font-size: em(14px);
  font-weight: 700;
  cursor: pointer;

  @include device {
    display: none;
  }

  .arrow-triangle {
    margin-left: .5em;
    border-width: em(7px);

    &.down {
      margin-top: .5em;
    }
  }

  .dropdown {
    left: -.33em;
    min-width: 7em;
    padding-right: 3em;
    font-weight: normal;
  }
}

.header-nav {
  position: relative;
  height: 100%;
  padding-left: 3em;
  font-size: em(12px);
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;

  @include device {
    display: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: em(45px);
    height: 100%;
    content: "";
    background: linear-gradient(to right, rgba(0,0,0,.25) 0%,rgba(0,0,0,0) 100%);
  }

  a {
    margin-top: 2px;
    margin-right: 1.7em;
    padding: 1.3em;

    @include desktop-xxl {
      @media (min-width: $breakpoint-desktop-xl) {
        margin-right: 1em;
        padding: 1.3em 1em;
      }
    }

    &::before {
      position: absolute;
      right: 1.3em;
      bottom: 0;
      left: 1.3em;
      display: block;
      height: 2px;
      content: "";
      transition: opacity $transition-time ease-in-out;
      opacity: 0;
      background-color: $col-white;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  .navbar-priority-1 {
    display: block;

    @include desktop-large {
      display: none;
    }
  }

  .navbar-priority-2 {
    display: block;

    @include desktop-xl {
      display: none;
    }
  }
}

.navbar {
  position: relative;
  display: none;
  height: 100%;
  line-height: 1.5;

  @include desktop-xl {
    display: flex;
  }
  @include device {
    display: none;
  }

  [class*="icon"] {
    margin: 0 1.7em 0 .33em;
    cursor: pointer;
    transition: $transition-time;

    @media (max-width: 980px) {
      margin: 0 .5em 0 -.5em;
    }
  }

  &.open {
    [class*="icon"] {
      transform: rotate(90deg);
    }
  }

  a {
    display: block;
    margin-bottom: 1em;
  }

  .dropdown {
    left: -.33em;

    @media (max-width: 980px) {
      left: -1.33em;
    }
  }

  .navbar-priority-1 {
    display: block;

    @include desktop-xl {
      display: none;
    }
    @include desktop-large {
      display: block;
    }
  }

  .navbar-priority-2 {
    display: block;
  }
}

.device-menu-icon {
  position: relative;
  z-index: $z-index-header-menu;
  align-items: flex-start;
  flex-direction: column;
  width: 2.25em;
  margin: 0 -.5em 0 .7em;
  padding: .5em;
  cursor: pointer;

  @include desktop {
    display: none;
  }

  &::before,
  &::after {
    width: 100%;
    padding: .125em 0;
    content: "";
    transition: $transition-time;
    border: solid $col-white;
  }

  &::before {
    border-width: .125em 0;
  }

  &::after {
    width: 70%;
    border-width: 0 0 .125em 0;
  }

  &.open {
    &::before,
    &::after {
      width: 100%;
      height: .125em;
      padding: .0625em 0;
      border: none;
      border-radius: .125em;
      background-color: $col-white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      margin-top: -.125em;
      transform: rotate(-45deg);
    }
  }
}

.user {
  position: relative;
  height: 100%;
  padding-right: 2em;
  background: $col-primary;

  @include device {
    padding-right: .5em;
  }

  .button {
    min-width: 8.5em;
    padding: .8em 1.2em;
    font-size: em(14px);

    @include mobile {
      min-width: 6.4em;
      padding: .7em 0;
      font-size: em(10px);
      text-transform: uppercase;
    }

    &.outlined {
      border-width: 2px;

      @include mobile {
        order: 1;
        border-width: 1px;
      }
    }

    &.filled {
      @include mobile {
        order: 2;
      }
    }
  }

  &.logged-in {
    margin-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
    border-left: 1px solid $col-dark-red;

    @include device {
      margin-left: auto;
      border-left: 0;
    }
  }

  .avatar {
    margin-left: 1.5em;
    font-size: 1.25em;

    @include device {
      font-size: 1em;
    }
  }

  .dropdown {
    right: 0;
    left: auto;
    overflow: hidden;

    @include device {
      display: none;
    }
  }

  .menu-list {
    min-width: 8em;
    margin-left: 1.25em;
    font-size: .75em;

    li {
      margin-bottom: 1.25em;
    }
  }
}

.avatar {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0 0 1em 0 rgba(0,0,0,.5);
}

.username {
  max-width: 6.5em;
  margin-left: 1em;
  font-weight: 700;
  line-height: 1.5;

  @include device {
    display: none;
  }

  .arrow-lines {
    margin-left: .5em;
  }
}

.user-gold-balance {
  @include device {
    display: none;
  }
}
