// Containers
.cnt-home-skin {
  order: 0;
}

.cnt-home-carousel {
  order: 1;

  &.no-skin {
    order: 2;
  }

  .section-title {
    @include device {
      display: none;
    }
  }
}

[class*="cnt-home-games"] {
  order: 3;
}

.cnt-home-games-first {
  order: 2;

  &.no-skin {
    order: 1;
  }
}

// Home Skin
.home-skin {
  overflow-x: hidden;
  height: 29em;
  margin: -2em 0 -4em;

  @include desktop-xl {
    height: em(375px);
  }
  @include device {
    height: em(275px);
    margin-top: 0;
    margin-bottom: -2.5em;
  }

  img {
    width: auto;
    height: 100%;
    transition: $transition-time;
  }
}

// General container slider
.cnt-home-carousel,
[class*="cnt-home-games"],
.top-5,
.cnt-home-tags {
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
  padding: 0 2em;

  @include desktop-xl {
    padding-right: 4em;
    padding-left: 4em;
  }
  @include device {
    margin-bottom: .5em;
  }

  .slider {
    opacity: 0;

    &.show-slider {
      max-height: none;
      opacity: 1;
    }
  }

  &:hover {
    .slick-arrow {
      opacity: 1;
    }
  }

  .slick-arrow {
    opacity: 0;
  }
}

.sidebar-closed {
  .cnt-home-carousel,
  [class*="cnt-home-games"],
  .top-5,
  .cnt-home-tags {
    padding-right: 2em;
    padding-left: 4em;

    @include device {
      padding-left: 2em;
    }
    @include mobile {
      padding-right: .75em;
      padding-left: .75em;
    }
  }

  .cnt-home-carousel {
    .slick-arrow {
      &.slick-prev {
        left: -3em;
      }
    }
  }

  [class*="cnt-home-games"] {
    .slick-arrow {
      &.slick-prev {
        left: -2em;
      }
    }
  }
}

// Banners
.cnt-home-carousel {
  .slider {
    max-height: em(90px);
    padding-right: 12em;

    @include device {
      max-height: em(140px);
      padding-right: 0;
    }
  }

  .banner-slide {
    margin-right: 1.25em;

    @include device {
      margin-right: em(20px);
    }
    @include mobile {
      margin-right: em(6px);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .slick-arrow {
    font-size: 1.5em;

    &.slick-next {
      right: -1.5em;
    }

    &.slick-prev {
      left: -1.5em;
    }
  }
}

// Game card sliders
[class*="cnt-home-games"] {
  margin: -1em 0 -1em;
  padding-top: 1em;
  padding-bottom: 3em;

  @include device {
    margin: 0;
    padding: 0;
  }

  .slider {
    max-height: em(280px);

    @include device {
      max-height: none;
      opacity: 1;
    }
  }

  .home-button {
    margin: em(20px) auto em(30px);
    padding: 1.25em 2em;
    font-size: .75rem;
    text-transform: uppercase;
  }

  .limit-6 {
    .card-game {
      &:nth-child(n+7) {
        @include mobile {
          display: none;
        }
      }
    }
  }
}

// Game card exclusive
.cnt-home-games-exclusive {
  .slider {
    max-height: em(450px);

    @include device {
      max-height: none;
      opacity: 1;
    }
  }
}

// Top 5 section
.top-5 {
  overflow: auto;
  justify-content: space-between;
  margin: 1em 0;
  padding-bottom: 1em;

  @include mobile {
    margin: 0;
  }

  .link-more {
    margin: 0 auto -1em;
    padding: 1em;
  }
}

.top-5-zone {
  width: 32%;
  min-width: em(500px);
  margin-right: 2%;

  @include device {
    min-width: em(300px);
    margin-right: 1em;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

// Tags / Genres
.cnt-home-tags {
  padding-top: .1em;
  padding-bottom: .25em;

  .tags {
    margin: -.5em;
  }

  .button {
    padding-top: .75em;
    padding-bottom: .75em;
    transition: $transition-time;

    @include device {
      font-size: .75em;
    }

    &:hover {
      color: $col-white;
      border-color: $col-light-blue;
      background-color: $col-light-blue;
    }
  }

  .more-tags {
    width: 1em;
    height: 1em;
    font-size: 2.25em;
    font-weight: 700;
    border-radius: 50%;

    @include device {
      font-size: 1.875em;
    }
  }
}

.tags-count {
  margin-left: .33em;
  font-weight: 400;
}
