.sidebar {
  position: fixed;
  z-index: $z-index-sidebar;
  top: 0;
  left: 0;
  width: $width-sidebar;
  min-height: 100%;
  transition: width $transition-time;

  @include desktop-xl {
    width: $header-height;
  }
  @include device {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: $transition-time;
    opacity: 0;
  }

  &.sidebar-full-width {
    width: $width-sidebar;
  }

  &.sidebar-closed {
    width: $header-height;
  }

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.sidebar-icons-bar {
  z-index: $z-index-sidebar-icons-bar;
  width: $header-height;
  background-color: $col-darker-blue;

  .logo {
    margin: 0 1em;
  }

  & > *:first-child {
    margin-bottom: -1.25em;
  }
}

.sidebar-sections {
  position: absolute;
  top: 0;
  right: 0;
  width: $width-sidebar - $header-height;
  height: 100%;
  transition: left $transition-time;
  background-color: $col-dark-blue;

  @include desktop-xl {
    background-color: rgba($col-dark-blue, .9);
  }

  & > * {
    flex-shrink: 0;
  }

  .social-icon {
    margin-right: 1em;
    margin-left: -.6em;
    font-size: 1.75em;
  }
}

.sidebar-logo-icon {
  width: $top-logo-width;
  height: $top-logo-height;
}

.close-sidebar {
  padding: .5em;
  font-size: em(14px);
  font-weight: 700;
  cursor: pointer;

  .arrow-lines {
    margin-right: .25em;
    font-size: 1.25em;
  }
}

.sidebar-icons-item {
  margin: 2.5em 0 0;
  padding: .5em 0;
  cursor: pointer;
  transition: $transition-time ease-in-out;
  border-left: 2px solid transparent;

  .fill-white {
    transition: $transition-time ease-in-out;
  }

  &.active {
    border-color: $col-primary;

    .fill-white {
      fill: $col-primary;
    }
  }
}

.sidebar-item-icon {
  width: 1.5em;
  height: 1.5em;
}

// Flyouts
[class*="flyout"] {
  display: none;
  overflow-y: auto;
  height: calc(100% - #{$header-height} - 2em);
  margin-top: 2em;
}

.flyout-normal {
  padding: 0 1em 1em 1.5em;
}

// Recently Played Games
.recent-games {
  margin: -.5em -1em 2em 0;

  .card-recent {
    margin-right: em(5px, 66px);
    font-size: em(66px);
  }
}
