// Animations
$animDisplay: (
  ("Up", "Y", ""),
  ("Down", "Y", "-"),
  ("Left", "X", "-"),
  ("Right", "X", ""),
);

@each $name, $direction, $sign in $animDisplay {
  .display-#{to-lower-case($name)} {
    animation: display#{$name} $transition-time ease-in-out forwards;
  }

  @keyframes display#{$name} {
    from {
      transform: translate#{$direction}#{unquote("(#{$sign}20px)")};
      opacity: 0;
    }
    to {
      transform: translate#{$direction}#{unquote("(0)")};
      opacity: 1;
    }
  }

  .hide-#{to-lower-case($name)} {
    animation: hide#{$name} $transition-time ease-in-out forwards;
  }

  @keyframes hide#{$name} {
    from {
      transform: translate#{$direction}#{unquote("(0)")};
      opacity: 1;
    }
    to {
      transform: translate#{$direction}#{unquote("(#{$sign}20px)")};
      opacity: 0;
    }
  }
}

// Loading spinner
.loader {
  position: absolute;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
  width: 3em;
  height: 3em;
  margin: auto;
  font-size: 1rem;
  animation: load_spin 1s ease-in-out infinite;
  border: .33em solid rgba($col-white, .3);
  border-top-color: $col-white;
  border-radius: 50%;
}

@keyframes load_spin {
  to {
    transform: rotate(360deg);
  }
}
