// Font Colors
.col-blue {
  color: $col-blue-gray;
}

.col-dark-red {
  color: $col-dark-red;
}

.col-primary, .col-red {
  color: $col-primary;
}

// Fill Colors
.fill-blue {
  & * {
    fill: $col-blue-gray !important;
  }
}

.fill-primary, .fill-red {
  & * {
    fill: $col-primary !important;
  }
}

.fill-white {
  & * {
    fill: $col-white !important;
  }
}
