// Dropdowns
.dropdown {
  position: absolute;
  // z-index: -1;
  top: 100%;
  left: 0;
  display: none;
  min-width: 8em;
  // visibility: hidden;
  cursor: auto;
  // transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear .01s;
  // transform: translateY(-2em);
  // opacity: 0;
  background-color: $col-dark-blue;

  // &.open {
  //   z-index: 1;
  //   visibility: visible;
  //   transition-delay: 0s, 0s, .3s;
  //   transform: translateY(0);
  //   opacity: 1;
  // }

  a {
    display: block;
  }
}
