// Arrows
.arrow-triangle {
  width: 0;
  height: 0;
  border-width: .5em;
  border-style: solid;
  border-color: transparent;
  border-top-color: $col-white;

  &.down {
    margin-top: .5em;
    transform: rotate(0deg);
  }

  &.up {
    margin-top: -.5em;
    transform: rotate(180deg);
  }

  &.left {
    transform: rotate(90deg);
  }

  &.right {
    transform: rotate(270deg);
  }
}

.arrow-lines {
  position: relative;
  width: 1em;
  height: 1em;

  &::before,
  &::after {
    position: absolute;
    display: block;
    width: em(10px);
    height: em(2px);
    content: "";
    transition: all $transition-time;
    background-color: $col-white;
  }

  &.left {
    &::before {
      top: em(4px);
      left: .2em;
      transform: rotate(-45deg);
    }

    &::after {
      top: em(10px);
      left: .2em;
      transform: rotate(45deg);
    }
  }

  &.right {
    &::before {
      top: em(4px);
      right: .2em;
      transform: rotate(45deg);
    }

    &::after {
      top: em(10px);
      right: .2em;
      transform: rotate(-45deg);
    }
  }

  &.up {
    &::before {
      top: .45em;
      left: 0;
      transform: rotate(-45deg);
    }

    &::after {
      top: .45em;
      right: 0;
      transform: rotate(45deg);
    }
  }

  &.down {
    &::before {
      top: .45em;
      left: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: .45em;
      right: 0;
      transform: rotate(-45deg);
    }
  }

  &.dark-red {
    &::before,
    &::after {
      background-color: $col-dark-red;
    }
  }
}

// All icons selector -> class must start with "icon-"
[class*="icon-"] {
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

// Gold icon
.icon-gold {
  font-size: em(22px);
  background-image: url("../images/nutaku-gold-coin.png");
}

// OS icons
.icon-os-windows {
  font-size: em(14px);
  background-image: url("../images/icon-os-windows.svg");
}

.icon-os-mac {
  font-size: em(14px);
  background-image: url("../images/icon-os-mac.svg");
}

.icon-os-linux {
  font-size: em(14px);
  background-image: url("../images/icon-os-linux.svg");
}

.icon-os-ios {
  font-size: em(14px);
  background-image: url("../images/icon-os-ios.svg");
}

.icon-os-android {
  font-size: em(14px);
  background-image: url("../images/icon-os-android.svg");
}

// Notification icon
.notification-icon {
  width: 1.25em;
  height: 1.5em;
  margin: .5em;
}

// Social icons
.social-icon {
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &.twitter {
    background-image: url("../images/icon-social-twitter.svg");
  }

  &.facebook {
    background-image: url("../images/icon-social-facebook.svg");
  }

  &.youtube {
    background-image: url("../images/icon-social-youtube.svg");
  }

  &.discord {
    background-image: url("../images/icon-social-discord.svg");
  }

  &.instagram {
    background-image: url("../images/icon-social-instagram.svg");
  }
}

// Sidebar icons
.icon-discover {
  font-size: em(24px);
  background-image: url("../images/icon-discover.svg");
}

.icon-games {
  font-size: em(24px);
  background-image: url("../images/icon-games.svg");
}

.icon-gold {
  font-size: em(24px);
}

.icon-settings {
  font-size: em(24px);
  background-image: url("../images/icon-settings.svg");
}

.icon-support {
  font-size: em(24px);
  background-image: url("../images/icon-support.svg");
}

.icon-tags {
  font-size: em(24px);
  background-image: url("../images/icon-tags.svg");
}

// Various icons
.icon-timer {
  font-size: em(38px);
}

.icon-heart {
  font-size: em(24px);
  background-image: url("../images/icon-heart.svg");

  &.filled {
    background-image: url("../images/icon-heart-filled.svg");
  }
}

.icon-checkmark {
  width: .6em;
  border-style: solid;
  border-width: 0 .2em .2em 0;
  display: inline-block;
  transform: rotate(45deg);

  &.white {
    border-color: $col-white;
  }
}
