// Body format and classes
body {
  color: $col-white;
  background-color: $col-body-bg;

  @include mobile-small {
    font-size: 4.444444444444444vw;
  }
  @include device {
    user-select: none;
  }

  &.dsktp {
    min-width: $breakpoint-desktop;
  }

  &.open {
    overflow: hidden;
  }
}

// Links
a {
  color: $col-white;
}

// General structure

// Scrollbar
.scrollbar {
  *,
  & {
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
  }

  ::-webkit-scrollbar,
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: lighten($col-body-bg, 10%);
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
  }
}

// Flex containers
.flx {
  display: flex;
}

.flx-a-c {
  display: flex;
  align-items: center;
}

.flx-j-c {
  display: flex;
  justify-content: center;
}

.flx-column {
  display: flex;
  flex-direction: column;
}

.flx-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-w {
  display: flex;
  flex-wrap: wrap;
}

.flx-w-sp-b {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// Margins
.mar-a-l {
  margin-left: auto;
}

.mar-a-r {
  margin-right: auto;
}

// General containers
.main-content {
  display: flex;
  flex-direction: column;
  margin-left: $width-sidebar;
  padding: 2em 0 1em;
  transition: margin $transition-time;

  @include desktop-xl {
    margin-left: $header-height;
  }
  @include device {
    margin-left: 0 !important;
    padding: 0 !important;
  }

  &.sidebar-closed {
    margin-left: $header-height;
  }
}

// Overlay
.overlay {
  position: absolute;
  z-index: $z-index-overlay-general;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);

  &.side-bar {
    z-index: $z-index-overlay-sidebar;
  }
}
