// Recently Played Games
.card-recent {
  position: relative;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: .2em;
  background-color: $col-darker-blue;

  &::before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: block;
    font-size: .67em;
    content: "+";
    transform: translate(-50%, -50%);
    color: $col-body-bg;
  }

  img {
    z-index: 2;
    width: 100%;
    height: 100%;
  }
}

// Game card general
.card-game,
.card-exclusive,
.card-event {
  position: relative;
  margin-right: 1.25em;

  .card {
    img {
      width: 100%;
    }
  }

  .container {
    padding: .5em 1em;

    & > * {
      margin: 0;
      line-height: 1.6;
    }
  }
}

.card-game {
  width: em(175px);

  .card {
    transition: all $transition-time-short linear;
    background-color: $col-dark-blue;
  }

  .container {
    @include device {
      padding: .4em;
    }
  }

  .fnt-medium {
    @include device {
      font-size: .75rem;
    }
    @include mobile {
      font-size: .625rem;
    }
  }

  .price {
    height: 1.57em;
    font-weight: 700;

    .purchased {
      display: block;
      overflow: hidden;
      max-width: 1.5em;
      height: 1.5em;
      margin-top: .5em;
      padding: 0 .5em;
      font-size: .625rem;
      border-radius: 1em;
      background-color: $col-green;

      [class*="icon-"] {
        margin-right: .33em;
      }

      &:hover {
        max-width: 10em;
        transition: max-width $transition-time-short linear 0s !important;
      }
    }

    .old-price {
      display: block;
      margin-top: -.75em;
      font-size: .7em;
      text-align: right;
      text-decoration: line-through;

      @include device {
        float: left;
        margin-top: 0;
        font-size: 1em;
        color: $col-white;
        margin-right: .5em;
      }
    }
  }

  .discount {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5em;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;
    background-color: $col-primary;

    & ~ .favorite {
      top: 3.25em;
    }
  }

  .platforms {
    margin-left: auto;

    [class^="icon-"] {
      margin: 0 .15em;
    }

    .mobile {
      overflow: hidden;
      max-width: 0;
      margin-right: .15em;
      padding-right: .15em;
      opacity: 0;
      border-right: 1px solid transparent;
    }
  }
}

.dsktp .card-game {
  &:hover {
    z-index: 2;

    .card {
      font-size: .85em;
      transition: all $transition-time-short linear $transition-delay;
      transform: scale($card-scale);
      transform-origin: 50% 80%;
      box-shadow: 0 0 2em 0 $col-black;

      .general-title,
      .fnt-small-2,
      .price {
        transition: all $transition-time-short linear $transition-delay;
      }

      .general-title {
        font-size: calc(.9375rem / #{$card-scale});
      }

      .fnt-small-2 {
        font-size: calc(.75rem / #{$card-scale});
      }

      .price {
        font-size: calc(1rem / #{$card-scale});

        .purchased {
          font-size: calc(.625rem / #{$card-scale});
          transition: all 0s linear $transition-delay;
        }
      }

      .platforms {
        .mobile {
          max-width: 5em;
          transition: opacity 0s linear 0s, max-width 0s linear $transition-delay, border 0s linear ($transition-delay * 2 + $transition-time-short);
          opacity: 1;
          border-right-color: $col-blue-gray;
        }
      }
    }
  }
}

.mobile .card-game {
  width: 24%;
  margin-right: 0;
  margin-bottom: em(10px);

  @include mobile {
    width: 31.5%;
  }

  .card {
    img {
      width: 90%;
      margin: .4em auto 0;
    }
  }
}

// Exclusive games card
.card-exclusive {
  width: em(290px);

  @include device {
    margin-right: em(20px);
  }
  @include mobile {
    margin-right: em(10px);
  }

  .card {
    .img {
      position: relative;
      transition: all $transition-time-short linear;
    }
  }

  .exclusive {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: flex-end;
    height: 20%;
    padding-bottom: 1em;
    text-transform: uppercase;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%);

    @include mobile {
      font-size: .75rem;
    }
  }

  .container {
    text-align: center;
  }
}

.dsktp .card-exclusive {
  &:hover {
    .card {
      .img {
        transition: all $transition-time-short linear $transition-delay;
        transform: scale($card-scale-small);
        transform-origin: 50% 100%;
      }
    }

    .favorite {
      font-size: .625em;
    }
  }
}

// Event card
.card-event {
  width: em(238px);

  .card {
    background-color: $col-dark-blue;
  }

  .container {
    padding-top: .75em;
    font-weight: 700;
  }

  .left {
    width: calc(100% - 2.5em);
  }

  .counter {
    margin-top: .25em;
  }

  .end-soon {
    z-index: -1;
    text-transform: uppercase;
    opacity: 0;
  }

  .icon-timer {
    flex-shrink: 0;
  }

  &.ending-soon {
    .counter {
      color: $col-primary;
    }

    .end-soon {
      z-index: 1;
      opacity: 1;
      color: $col-primary;
    }

    .icon-timer {
      & * {
        fill: $col-primary !important;
      }
    }
  }
}

// Add to favorites
.card-game,
.card-exclusive {
  .favorite {
    position: absolute;
    z-index: -1;
    top: .5em;
    left: .5em;
    display: none !important;
    font-size: calc(.625rem / #{$card-scale});
    opacity: 0;

    &.filled {
      z-index: 1;
      opacity: 1;

      [class*="text"] {
        display: none;
      }

      .text-remove {
        display: flex;
      }
    }

    [class*="icon-"] {
      margin: -.2em -.15em -.2em -.15em;
      font-size: 5em;
    }

    [class*="text"] {
      position: relative;
      overflow: hidden;
      width: 0;
      font-weight: 700;
      white-space: nowrap;
      opacity: 0;
    }

    .text-remove {
      display: none;
    }

    &:hover {
      padding-right: 1em;
      border-radius: 3em;
      background: rgba($col-dark-blue, .8);

      .text {
        width: 8.5em;
        opacity: 1;
      }

      .text-remove {
        width: 12em;
        opacity: 1;
      }
    }
  }

  &:hover {
    .favorite,
    .favorite [class*="text"] {
      transition: all $transition-time-short linear $transition-delay;
    }

    .favorite {
      z-index: 1;
      opacity: 1;
    }
  }
}

.dsktp {
  .card-game,
  .card-exclusive {
    .favorite {
      display: flex !important;
    }
  }
}

// Top 5
.card-top-5 {
  position: relative;
  transition: background-color $transition-time;
  border-bottom: 1px solid $col-border;

  &:nth-of-type(1),
  &:nth-of-type(5) {
    border-bottom: 0;
  }

  .card {
    padding: 1em;

    @include device {
      padding: 1em .5em 1em 0;
    }
  }

  .number {
    margin-right: 1em;

    @include device {
      display: none;
    }
  }

  .img {
    width: em(66px);
    height: em(66px);
    margin-right: 1em;
    border-radius: em(10px);
  }

  .img-large {
    width: 100%;
    height: auto;

    & + .card {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      background: linear-gradient(to bottom, rgba($col-darker-blue,0) 0%,rgba($col-darker-blue,1) 100%);

      @include device {
        padding: .75em 0;
      }

      & * {
        color: $col-white;
      }

      .number {
        @include device {
          display: flex;
          margin-left: 1em;
          font-size: .625em;
        }
      }

      .desc {
        max-width: 50%;
      }

      .general-title {
        font-size: 1.125em;

        @include device {
          font-size: .875em;
        }
      }

      .svg {
        font-size: em(14px);
      }

      .icons {
        @include device {
          align-self: flex-end;
        }
      }

      .button {
        @include device {
          bottom: 2em;
        }
      }
    }
  }

  .desc {
    max-width: 40%;
    margin-right: auto;

    @include device {
      max-width: calc(100% - 5.5em);
    }
  }

  .general-title {
    line-height: 1.3;
  }

  .genres {
    margin-bottom: .5em;
    line-height: 1.6;
  }

  [class*="icon-"] {
    margin-right: .33em;
  }

  .button {
    @include device {
      position: absolute;
      right: 0;
      bottom: 1em;
      font-size: .75em;
    }
  }

  &:hover {
    border-color: $col-dark-blue;
    background-color: $col-dark-blue;
  }
}
